# Gradle
.gradle/
build/
out/

# IDE
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
*.launch
.vscode/

# LibGDX
*.log
local.properties

# OS
.DS_Store
Thumbs.db

# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*
